# LetsGrowMore

## Task 1: 
## A. Iris Flower Classification ML Project
## Author : Vivek Prakash Upreti (Data Science Intern @ LetsGrowMore)

# Dataset: https://archive.ics.uci.edu/ml/datasets/iris

### Import Required Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

### Load The Iris Data

In [2]:
iris = pd.read_csv('irisdata.csv')
iris.describe() #Information About the 'iris' data

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
iris.head()  # gives the top 5 row of iris dataset

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [5]:
iris.shape

(150, 5)

In [6]:
iris.isna().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [7]:
iris.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.109369      0.871754     0.817954
Sepal.Width      -0.109369     1.000000     -0.420516    -0.356544
Petal.Length      0.871754    -0.420516      1.000000     0.962757
Petal.Width       0.817954    -0.356544      0.962757     1.000000

## Splitting The Data

In [8]:
#Split The Data into 'train' and 'test' variable in the percent of 75 and 25 respectively

train,test = train_test_split(iris,test_size=0.25)

## Training Data

In [9]:
train

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width          Species
100           6.3          3.3           6.0          2.5   Iris-virginica
34            4.9          3.1           1.5          0.1      Iris-setosa
26            5.0          3.4           1.6          0.4      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
..            ...          ...           ...          ...              ...
118           7.7          2.6           6.9          2.3   Iris-virginica
50            7.0          3.2           4.7          1.4  Iris-versicolor
98            5.1          2.5           3.0          1.1  Iris-versicolor
122           7.7          2.8           6.7          2.0   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica

[112 rows x 5 columns]

## Testing Data

In [10]:
test

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width          Species
18            5.7          3.8           1.7          0.3      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
138           6.0          3.0           4.8          1.8   Iris-virginica
66            5.6          3.0           4.5          1.5  Iris-versicolor
140           6.7          3.1           5.6          2.4   Iris-virginica
7             5.0          3.4           1.5          0.2      Iris-setosa
131           7.9          3.8           6.4          2.0   Iris-virginica
90            5.5          2.6           4.4          1.2  Iris-versicolor
61            5.9          3.0           4.2          1.5  Iris-versicolor
45            4.8          3.0           1.4          0.3      Iris-setosa
53            5.5          2.3           4.0          1.3  Iris-versicolor
116           6.5          3.0           5.5          1.8   Iris-virginica
92            5.8          2.6           4.0          1.2  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
11            4.8          3.4           1.6          0.2      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
114           5.8          2.8           5.1          2.4   Iris-virginica
71            6.1          2.8           4.0          1.3  Iris-versicolor
72            6.3          2.5           4.9          1.5  Iris-versicolor
22            4.6          3.6           1.0          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
67            5.8          2.7           4.1          1.0  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
82            5.8          2.7           3.9          1.2  Iris-versicolor
81            5.5          2.4           3.7          1.0  Iris-versicolor
14            5.8          4.0           1.2          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
125           7.2          3.2           6.0          1.8   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
93            5.0          2.3           3.3          1.0  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
24            4.8          3.4           1.9          0.2      Iris-setosa
145           6.7          3.0           5.2          2.3   Iris-virginica
111           6.4          2.7           5.3          1.9   Iris-virginica
79            5.7          2.6           3.5          1.0  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica

## Again splitting the data for Training Data

In [11]:
# train_X conatins all the features only

train_X = train[['Sepal.Length','Sepal.Width','Petal.Length','Petal.Width']]

In [12]:
# train_y contain the label 

train_y = train.Species

In [13]:
train_X

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
100           6.3          3.3           6.0          2.5
34            4.9          3.1           1.5          0.1
26            5.0          3.4           1.6          0.4
39            5.1          3.4           1.5          0.2
33            5.5          4.2           1.4          0.2
..            ...          ...           ...          ...
118           7.7          2.6           6.9          2.3
50            7.0          3.2           4.7          1.4
98            5.1          2.5           3.0          1.1
122           7.7          2.8           6.7          2.0
109           7.2          3.6           6.1          2.5

[112 rows x 4 columns]

In [14]:
train_y

100     Iris-virginica
34         Iris-setosa
26         Iris-setosa
39         Iris-setosa
33         Iris-setosa
            ...
118     Iris-virginica
50     Iris-versicolor
98     Iris-versicolor
122     Iris-virginica
109     Iris-virginica
Name: Species, Length: 112, dtype: object

## Splitting the same data for Testing Data

In [15]:
## test_X contains the all features
## test_y contain the Label only

test_X = test[['Sepal.Length','Sepal.Width','Petal.Length','Petal.Width']]

test_y = test.Species

## Model Making

### 1 Model By Using Support Vector Machine Algorithm (SVM)

In [16]:
model = svm.SVC()   #SVC = Support Vector Classifier

# train the model

model.fit(train_X,train_y)
pred = model.predict(test_X)

In [17]:
pred

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica'], dtype=object)

### Check the Accuracy of the model

In [18]:
act = metrics.accuracy_score(pred,test_y)   ## 100% Accuracy By SVM
print('Test Accuracy By SVM :- ', (act*100))

Test Accuracy By SVM :-  97.36842105263158

### 2 Model By Using Decision Tree Classifier

In [19]:
#Model By Using DecisionTree

model = DecisionTreeClassifier()
model.fit(train_X,train_y)
pred =model.predict(test_X)

### Check The Accuracy

In [20]:
act2 = metrics.accuracy_score(pred,test_y)  # 97% Accuracy By Decision Tree Classifier
print("Test Accuracy By Decision Tree Classifier :- ",(act2*100))

Test Accuracy By Decision Tree Classifier :-  94.73684210526315

## 3. Model By Using KNN Classifier

In [21]:

### KNN Classifiers

cls = KNeighborsClassifier()
cls.fit(train_X,train_y)  ## fitting the model
pred = cls.predict(test_X)

C:\Users\Vivek Prakash Upreti\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [22]:
## Check The accuracy
act3 =metrics.accuracy_score(pred,test_y)
print("Test Accuracy By KNeighbors Classifier :- ",(act3*100))

Test Accuracy By KNeighbors Classifier :-  97.36842105263158